body{
	font-family:Helvetica,Arial;
}

h1,h2,span{
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 4px;
}

li,h3{
	text-transform: uppercase;
	font-size: 17px;
}

p{
	font-size:16px;
	line-height: 2em;
}

#portafolio{
	padding: 1em;
}

.contenedor{
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	width:300px;
	height:300px;
	line-height:300px;
	text-align:center;
}

.contenedor div{
	height:2px;
	border-radius: 5em;
	width: 100%;
}

.movetoright {
  transition-property: background-color, color;
  transition-duration: 5s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 5s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 5s;
  background-color: gray;
}

.movetoleft {  transition-property: background-color, color;
  transition-duration: 5s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 5s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 5s;
  background-color: white;
}

.contenedor>span{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	font-size: 20px;
}

.contenedor>img{
	position: absolute;
	left: 0px;
	opacity: 0;
}

.contenedor>img:hover{
	transition: opacity 1s ease-in-out;
	opacity: 1;	
	pointer-events: stroke;
	cursor: pointer;
}

.imagenes{
	margin: 1em;
}

#habilidades{
	display: none;
}


#carouseldark{
	display: none;
}

#backendlight{
	display: none;
}

#fronteddark{
	display: none;
}

#biografia{
	display: none;
	padding: 1em;
}

#biografia div{
	min-width: 325px;
	margin: auto;
}

#biografia img{
	width: 300px;
	height: 400px;
	border-radius: 1em;
}

footer{
	height: 100px;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0px;
}

footer>div{
	padding-top:1em;
}

@media screen and (max-width: 800px) {
	#carousellight{
		display:none;
	}
	#carouseldark{
		display: none;
	}
	#presentacion{
		display: none;
	}
}

@media screen and (min-width: 800px) {
	#frontedlight{
		display: none;
	}
	#backenddark{
		display: none;
	}
	.imagenes{
		display: none;
	}
}